<% if @current_user.id == 1%>
<h1>ALL Users</h1>
 <div class="container text-justify navbar">
<%= link_to 'Add user', new_user_path %>
<table class='nav navbar-brand table'>
  <tr>
    <th>name</th>
    <th>room</th>
    <th>image</th>
    <th>Ext.</th>
    <th>Actions</th>
    <% @user.each do |user| %>
	    </tr>
		    <td><%= user.name %></td>
		    <td><%= user.room %></td>
	    	<td><%= image_tag user.image.url(:thumb) %></td>
	    	<td><%= user.ext_room %></td>	
	      	<td><%= link_to 'Edit', edit_user_path(user) %></td>
	      	<% if(user.id !=1) %>
	      	 <td><%= link_to 'Delete', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
              <% end %>
    </tr>
	  	</tr>	
	<% end %>
</table>
</div>
	<%= will_paginate @user %>
	
<% else %>
<h1>You are not Authorized !!</h1>

<% end %>
