<% if @current_user.id == 1%>
<h1>ALL Products</h1>
 <div class="container text-justify navbar">
<%= link_to 'New Product', new_product_path %>
<table class="nav navbar-brand table">
  <tr>
    <th>name</th>
    <th>price</th>
    <th>image</th>

    <% @product.each do |product| %>
	    </tr>
		    <td><%= product.name %></td>
		    <td><%= product.price %></td>
	    	<td><%= image_tag product.image.url(:thumb) %></td>
	    	<% if product.status %>
	    		<td><%= link_to "Available", {:controller => "products", :action => "changestatus", :pid =>  product.id},method: :post, :class => "status"%></td>
	    	<% else %>
	    		<td><%= link_to "Unvailable", {:controller => "products", :action => "changestatus", :pid =>  product.id},method: :post, :class => "status"%></td>
	    	<% end %>
	      	<td><%= link_to 'Edit',edit_product_path(product) %></td>
	      	<td><%= link_to 'Delete', product_path(product),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
	  	</tr>	
	<% end %>
</table>
</div>
<%= will_paginate @product %>
<% else %>
<h1>You are not Authorized !!</h1>

<% end %>
